/** @format */

$base-color: #1e4384;
$header-color: #00d29e;
$span: #979797;
@mixin greenheader {
  position: absolute;
  top: 1rem;
  width: 5rem;
  height: 0.5rem;
  background-color: $header-color;
  content: "";
}

.feature-container {
  width: 100%;
  height: auto;
  padding-top: 1%;
}
.feature-contents {
  width: 100%;
  margin: 0 auto;
  padding: 4% 0 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feature-h1 {
  font-size: 50px;
  font-weight: 500;
  position: relative;
  padding-top: 0.8rem;
  text-align: center;
  &::before {
    @include greenheader();
    top: 0;
  }
}
.feature-images {
  width: auto;
  height: auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.feature-details {
  width: 50%;
  margin-left: 4%;
  .feature-row-1,
  .feature-row-2 {
    display: flex;
    justify-content: space-around;
    gap: 0 1rem;
    margin: 3rem 0;
  }
  .feature-item {
    width: 270px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
      height: 80%;
      object-fit: contain;
    }
    .feature-item-stag {
      font-family: "Inter";
      color: $span;
      margin-top: 0.5rem;
      font-size: 0.85rem;
    }
  }
}
@media screen and (max-width: 1500px) {
  // .feature-images {
  //   width: 600px;
  //   height: 600px;
  //   img {
  //     width: 100%;
  //     height: 100%;
  //   }
  // }
  .feature-details {
    width: 50%;
    .feature-item {
      width: 220px;
      height: 200px;
      img {
        height: 65%;
      }
    }
  }
}
@media screen and (max-width: 1350px) {
  .feature-images {
    width: 500px;
    height: 500px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .feature-details {
    width: 50%;
    margin-right: 1.5rem;
    .feature-item {
      width: 220px;
      height: 200px;
      img {
        height: 65%;
      }
    }
  }
}
